[Unit]
Description=Aerospike Database Server
After=network.target

[Service]
User={{ aerospike_user }}
Group={{ aerospike_group }}
ExecStart=/usr/bin/asd --config-file /etc/aerospike/aerospike.conf
Restart=always
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
