**/docker-compose.yml
**/docker-compose.j2
**/docker-compose.yml.j2
**/conf.j2
**/Dockerfile
**/Dockerfile.j2

**/**.pem
**/**.der

inventory/baremetal.ini
inventory/production.ini
inventory/group_vars

.env

