**/docker-compose-psql.yml
**/docker-compose.yml
**/docker-compose.j2
**/docker-compose.yml.j2
**/Dockerfile
**/Dockerfile.j2

**/users.xml.j2

**/**.pem
**/**.der

**/debezium/files/kafka-config/*
**/debezium/files/nginx/
**/debezium/files/debezium-connectors/

inventory/baremetal.ini
inventory/production.ini
inventory/group_vars

.env