services:
  {{ service_name }}:
    image: {{ service_image }}
    container_name: {{ service_name }}
    command: -config.file=/etc/mimir/mimir.yaml
    ports:
      - "{{ service_http_port }}:9000"
    volumes:
      - "{{ service_data_dir }}:/data"
      - "{{ service_config_dir }}/mimir.yaml:/etc/mimir/mimir.yaml"
    restart: unless-stopped
