[Unit]
Description=YugabyteDB
After=network.target

[Service]
Type=simple
User=yugabyte
ExecStart=/usr/bin/yugabyted start --base_dir={{ yugabytedb_data_dir }} --daemon=false
Restart=always
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target