# YugabyteDB custom config

cluster_name={{ yugabytedb_cluster_name }}

master_webserver_port={{ yugabytedb_master_port }}
tserver_webserver_port={{ yugabytedb_tserver_port }}

pgsql_proxy_bind_port={{ yugabytedb_ysql_port }}
cql_proxy_bind_port={{ yugabytedb_yql_port }}