version: "3.9"

services:
  keycloak:
    image: {{ keycloak_image }}
    container_name: keycloak
    command:
      - start-dev
      - --http-enabled=true
      - --http-port=8080
      - --hostname-strict=false
      - --proxy=edge
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    ports:
      - "{{ keycloak_http_port }}:8080"
    volumes:
      - {{ keycloak_data_dir }}:/opt/keycloak/data/import
    restart: always